<!-- Tab 2 content start -->
<div class="add-agent-tab">
  <div>
    <p>BULK IMPORT(OPTIONAL)</p>
    <mat-card class="shadow-none">
      <mat-card-content>
        <mat-tab-group mat-align-tabs="center" class="agent-tab">
          <mat-tab label="IMPORT FROM EMAIL CLIENTS">
            <div class="flex-c mt-20" style="gap: 60px">
              <div class="email-clients" class="flex flex-col">
                <h4 class="label">Select email client</h4>
                <div class="flex">
                  <div style="height: 90px; width: 130px">
                    <img src="../../../assets/images/google-suit.png" class="h-100p w-100p" />
                  </div>
                  <div style="height: 90px; width: 130px">
                    <img src="../../../assets/images/office-suit.png" class="h-100p w-100p" />
                  </div>
                </div>
              </div>

              <div style="align-self: baseline">
                <h4 class="label">Are you a Global Admin?</h4>
                <div>
                  <mat-form-field style="width: 100px" appearance="outline">
                    <mat-select [(ngModel)]="selectedAdminType" name="selectAdmin">
                      <mat-option *ngFor="let admin of globalAdmin" [value]="admin.value">
                        {{ admin.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <button mat-fab extended color="white" class="btn-arrow">Connect</button>
            </div>
          </mat-tab>
          <mat-tab label="IMPORT FROM CSV">
            <div class="flex-c h-100p">
              <div class="flex-c mt-20" style="gap: 30px">
                <img src="../../../assets/images/csv upload.svg" />
                <div>
                  <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
                  <input hidden (change)="onFileSelected($event)" #fileInput type="file" />
                  <span class="file-name ml-20">{{ selectedFile?.name }}</span>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="mt-40">
    <p class="card-label">STAFF MEMBERS</p>
  </div>
</div>
<!-- Tab 2 content end -->
