.preview-image-signature1 {
  width: 80px;
  height: 110px;
  border-radius: 15px;
  background-color: #f8f7f7;
}
.preview-image p,
.preview-image-signature1 p,
.preview-image-signature p {
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
}

.abcd > div.mdc-form-field {
  width: 100%;
}

/* :host ::ng-deep.mat-mdc-tab-body-wrapper {
  flex-grow: 1;
} */

:host ::ng-deep.widget-heading > div {
  width: 100%;
  display: flex;
}

:host ::ng-deep.widget-heading > div > label {
  flex-grow: 1;
}

:host ::ng-deep.widget-heading > div > label .mat-mdc-form-field {
  width: 90%;
}

.reaction-pack > div {
  width: 60px;
  height: 60px;
  border: 1px solid #cccccc;
  border-radius: 15px;
  cursor: pointer;
}

.reaction-pack > div > span {
  font-size: 24px;
}

.ready-btn {
  background-color: #a3a3a3;
  width: 100%;
  font-size: 17px;
  font-weight: 400;
}

:host ::ng-deep.allow-user label.mdc-label {
  font-size: 20px;
}

.btn-arrow {
  border: 1px solid #a3a3a3;
  color: #a3a3a3;
  font-size: 17px;
  font-weight: 400;
  width: 100%;
  margin-top: 30px;
}

:host ::ng-deep.google-int .mdc-button__label {
  display: flex;
}

.staff-members {
  width: 100px;
  font-size: 18px;
  text-align: end;
  margin-right: 10px;
}

.three-circle {
  background-image: url('../../../assets/images/three-circle.png');
  width: 90px;
  height: 45px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.three-circle > div {
  color: #fff;
  font-size: 16px;
  height: 37px;
  width: 37px;
}
