.card-label {
  width: 210px;
  border-bottom: 2px solid #3b76ef;
  color: #4b5a7a;
}

.staff-members {
  width: 100px;
  font-size: 18px;
  text-align: end;
  margin-right: 10px;
}

.three-circle {
  background-image: url('../../../assets/images/three-circle.png');
  width: 90px;
  height: 45px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.three-circle > div {
  color: #fff;
  font-size: 16px;
  height: 37px;
  width: 37px;
}

:host ::ng-deep.naveen .mat-mdc-form-field-infix {
  padding: 9px 4px 0 0 !important;
}

:host ::ng-deep.naveen .mat-mdc-form-field-flex {
  height: 40px !important;
  width: 300px !important;
}
/* ashdjklshajkldhaskldhaskldhaklhdsklahdklashdklasdhhas */
table {
  width: 100%;
  margin-top: 40px;
}

th,
td {
  font-size: 18px;
}

.mat-mdc-table .mdc-data-table__row {
  height: 75px !important;
}

.mat-mdc-header-row {
  background-color: #d9d9d9;
}

.mat-column-customerName,
.mat-column-rating,
.mat-column-message,
.mat-column-id,
.mat-column-date,
.mat-column-staffMember {
  word-wrap: break-word !important;
  white-space: unset !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-customerName {
  width: 18% !important;
}

.mat-column-rating {
  width: 10% !important;
}

.mat-column-message {
  width: 35% !important;
}

.mat-column-id {
  width: 7% !important;
}

.mat-column-date {
  width: 13% !important;
}

.mat-column-staffMember {
  width: 17% !important;
}
