<div style="padding: 15px 45px">
  <div class="setup-container flex-sb" style="align-items: flex-start !important">
    <div class="flex-sb">
      <h1>Customer Reviews</h1>
      <mat-form-field class="ml-20 naveen">
        <input type="text" matInput placeholder="Search" />
        <mat-icon matPrefix class="my-icon">search</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <div class="flex" style="justify-content: end">
        <p class="staff-members">Staff Members</p>
        <div class="three-circle">
          <div class="flex-c">+4</div>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-top: 50px">
    <div class="list-options flex">
      <div class="flex flex-col" style="width: 200px">
        <h2 style="font-weight: 400 !important">Filter by Rating</h2>
        <mat-form-field appearance="outline" class="flex-row">
          <mat-label>Show All</mat-label>
          <mat-select [(ngModel)]="selectedTitle" name="food">
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{ food.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="flex flex-col ml-20" style="width: 200px">
        <h2 style="font-weight: 400 !important">Filter by Staff</h2>
        <mat-form-field appearance="outline" class="flex-row">
          <mat-label>Show All</mat-label>
          <mat-select [(ngModel)]="selectedTitle" name="food">
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{ food.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="flex flex-col ml-20" style="width: 200px">
        <h2 style="font-weight: 400 !important">Filter by Time Range</h2>
        <mat-form-field appearance="outline" class="flex-row">
          <mat-label>Show All</mat-label>
          <mat-select [(ngModel)]="selectedTitle" name="food">
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{ food.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="results"></div>
  </div>
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- customerName Column -->
      <ng-container matColumnDef="customerName">
        <th mat-header-cell *matHeaderCellDef>Customer Name</th>
        <td mat-cell *matCellDef="let element">{{ element.customerName }}</td>
      </ng-container>

      <!-- rating Column -->
      <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef>Rating</th>
        <td mat-cell *matCellDef="let element">{{ element.rating }}</td>
      </ng-container>

      <!-- message Column -->
      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef>Message</th>
        <td mat-cell *matCellDef="let element">{{ element.message }}</td>
      </ng-container>

      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element">{{ element.date }}</td>
      </ng-container>

      <!-- staffMember Column -->
      <ng-container matColumnDef="staffMember">
        <th mat-header-cell *matHeaderCellDef>Staff Member</th>
        <td mat-cell *matCellDef="let element">{{ element.staffMember }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></tr>
    </table>
  </div>
</div>
