/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* Utility classes */

.h-100p {
  height: 100% !important;
}
.w-100p {
  width: 100% !important;
}

/* Margin top */
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-15 {
  margin-top: 15px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mt-50 {
  margin-top: 50px !important;
}

/* Margin bottom */
.mb-5 {
  margin-bottom: 5px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}

/* Margin left */
.ml-5 {
  margin-left: 5px !important;
}
.ml-10 {
  margin-left: 10px !important;
}
.ml-15 {
  margin-left: 15px !important;
}
.ml-20 {
  margin-left: 20px !important;
}

/* Margin right */
.mr-5 {
  margin-right: 5px !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.mr-15 {
  margin-right: 15px !important;
}
.mr-20 {
  margin-right: 20px !important;
}

/* Flex utility */
.flex {
  display: flex !important;
}

.flex-r {
  display: flex !important;
  justify-content: right !important;
  align-items: center !important;
}

.flex-c {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.flex-sb {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.flex-sa {
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
}

.flex-col {
  flex-direction: column !important;
}

.flex-row {
  flex-direction: row !important;
}

.shadow-none {
  box-shadow: none !important;
}

.label {
  color: #4b5a7a !important;
}

.mdc-line-ripple {
  display: none;
}

/* for globally button backgound button */
.mat-mdc-fab.mat-primary,
.mat-mdc-mini-fab.mat-primary {
  background-color: #2e2e2e;
}

.mat-mdc-fab[disabled][disabled],
.mat-mdc-mini-fab[disabled][disabled] {
  background-color: rgb(225, 228, 225);
}

.mat-mdc-extended-fab {
  height: 56px !important;
  border-radius: 40px !important;
  padding: 0 20px !important;
}

/* for globally text input */
.mat-mdc-text-field-wrapper {
  border: 1px solid #2e2e2e;
  border-radius: 40px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600 !important;
}

.mdc-notched-outline__leading,
.mdc-notched-outline__notch,
.mdc-notched-outline__trailing {
  border: 0 !important;
}
