:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

:host ::ng-deep .mat-tab-labels {
  flex-direction: column;
}

mat-tab-group {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

:host ::ng-deep .mat-tab-body-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

mat-tab-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep mat-ink-bar {
  display: none;
}

:host ::ng-deep.mdc-tab--active {
  background-color: #e5e5e5;
}

:host ::ng-deep.mdc-tab--active p {
  color: #fff !important;
}

:host ::ng-deep.mdc-tab--active .white-icon {
  color: #3b76ef !important;
}

:host ::ng-deep.left-menu > mat-tab-header > div > div .mat-mdc-tab-labels {
  flex-direction: column !important;
  height: 100vh;
  background-color: #e5e5e5;
}

:host ::ng-deep.mat-mdc-tab-labels > div {
  height: 50px;
  width: 295px;
  margin-bottom: 20px;
}

:host ::ng-deep.mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs > .mat-mdc-tab-header .mat-mdc-tab {
  flex-grow: unset;
}

.menu-text {
  font-size: 20px;
  margin-top: 10px;
  color: #000 !important;
  font-weight: 400;
  width: 234px;
  text-align: left;
  padding-left: 45px;
  font-size: 16px;
}

:host ::ng-deep.mat-mdc-tab-body-wrapper {
  flex-grow: 1;
}

::ng-deep.mat-mdc-snack-bar-container {
  margin: 0 !important;
  height: 30px;
}

::ng-deep.mdc-tab--active .mdc-tab__content {
  width: 234px;
  background-color: #2e2e2e;
  border-radius: 30px;
}

:host ::ng-deep.mdc-tab-indicator {
  display: none;
}

::ng-deep.mat-mdc-tab-label-container {
  padding-top: 100px;
  background-color: #e5e5e5;
}
