<div>
  <div style="background-color: #fff; height: 40px; display: flex; justify-content: start">
    <img
      mat-card-sm-image
      style="margin: auto; width: 250px; height: 40px; margin-bottom: 20px"
      src="../../../assets/images/company-logo.png"
      alt="Photo of a Shiba Inu"
    />
    <div style="flex-grow: 1"></div>
  </div>
  <mat-tab-group [@.disabled]="true" class="left-menu">
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="flex-c flex-col">
          <p class="menu-text">Overview</p>
        </div>
      </ng-template>
      <div></div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="flex-c flex-col">
          <p class="menu-text">Customer Feedbacks</p>
        </div>
      </ng-template>
      <div>
        <app-customer-feedback />
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="flex-c flex-col">
          <p class="menu-text">Customer Reviews</p>
        </div>
      </ng-template>
      <div>
        <app-customer-feedback />
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="flex-c flex-col">
          <p class="menu-text">Survey Setup</p>
        </div>
      </ng-template>
      <div>
        <app-setup />
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="flex-c flex-col">
          <p class="menu-text">Staff Member</p>
        </div>
      </ng-template>
      <div>
        <app-customer-feedback />
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
